body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-row {
  padding: 5px;
  margin: 0 !important;
}

.status-icon {
  vertical-align: middle;
  font-size: 25px;
}

.status-icon.success {
  color: #8cc53e;
}
.status-icon.warning {
  color: #f5c75e;
}
.status-icon.info {
  color: #3498db;
}
.ant-collapse-header .ant-typography {
  color: #58595f;
  font-size: 16px;
  font-weight: 500;
}
.ant-collapse {
  background: #ffffff;
  border: 0;
}
.ant-collapse .ant-collapse-item {
  background-color: #e9e9e9;
  margin-top: 10px;
  border: 1px solid #d9d9d9;
}
.ant-collapse .ant-collapse-item:first-child {
  margin-top: 0;
}
.ant-tree .ant-tree-title {
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-0 {
  margin: 0;
}
.helpers-area {
  text-align: center;
}
.helpers-area .ant-btn {
  color: #ea6241;
  font-size: 15px;
  width: 30px !important;
  height: 30px;
}
.table-striped-rows tr:nth-child(2n) td {
  background-color: #fbfbfbc7;
}
.table-striped-rows thead {
  background-color: #f1f1f1;
}
